default_language_version:
  python: python3

default_stages: [commit, push]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: check-ast
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=2500']
      - id: check-docstring-first
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: end-of-file-fixer
        exclude: LICENSE

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.7
    hooks:
      - id: ruff-format
      - id: ruff

  - repo: local
    hooks:
      - id: fast-test
        name: fast-test
        entry: make
        args: ["fast-test"]
        language: system
        pass_filenames: false
      - id: clean
        name: clean
        entry: make
        args: ["clean"]
        language: system
        pass_filenames: false

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
      - id: insert-license
        name: Add MIT license to docs
        exclude: ^(docs/source)
        files: \.py$
        args:
          - --license-filepath
          - LICENSE

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
      - id: insert-license
        name: insert MIT license
        exclude: ^(docs/source)
        files: \.py$
        args:
          - --license-filepath
          - LICENSE

# TODO: add CI for docs
