name: build

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]' && github.actor != 'dependabot-preview[bot]'
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v3

    # Test connectivity to huggingface, TODO: remove this if it works
    - name: Test connectivity to huggingface
      run: |
        curl -I https://huggingface.co | head -n 1

    # Check that hf is not offline, TODO: remove this if it works
    - name: Check for offline‐mode
      run: |
        echo "HUGGINGFACE_HUB_OFFLINE is → $HUGGINGFACE_HUB_OFFLINE"

    # Try downloading a small public model directly in the github actions runner, TODO: remove this if it works
    - name: Try downloading a small public model
      run: |
        python - <<EOF
        from transformers import AutoTokenizer
        try:
            AutoTokenizer.from_pretrained("bert-base-uncased")
            print("✔ downloaded bert-base-uncased")
        except Exception as e:
            print("❌ failed to download bert-base-uncased:", e)
            exit(1)
        EOF

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4.3.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install uv
      run: |
        make uv-download
    - name: Set up cache
      uses: actions/cache@v4.2.2
      with:
        path: .venv
        key: venv-${{ matrix.python-version }}-${{ hashFiles('pyproject.toml') }}
    - name: Install dependencies
      run: |
        make install-ci
        source .venv/bin/activate

    - name: Run style checks
      run: |
        make lint

    - name: Run fast tests
      run: |
        make fast-test-ci
